.container{
  padding: 1rem;
}

.cabecalho{
  background-color: white;
  padding: 0.25rem 2rem;
  border-radius: 5px;
  border: 1px solid gold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
